h1,p {
    text-align: center;
    font-family: sans-serif;
    background: transparent;
}

h1 {
    padding-bottom: 10px;
    font-size: 29px;
    font-weight: 500;
    line-height: 33px;
    text-align: center;
    color: white;
}

p {
    font-size: 12px;
    text-align: center;
    color: white;
}